{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Ideasoft Api",
        "description": "Ideasoft Api Documentation",
        "termsOfService": "http:\/\/www.ideasoft.com.tr\/terms",
        "contact": {
            "name": "Ideasoft Api Team",
            "email": "techsupport@ideasoft.com.tr",
            "url": "http:\/\/www.ideasoft.com.tr\/destek"
        }
    },
    "host": "STORENAME.myideasoft.com",
    "basePath": "\/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application\/json"
    ],
    "produces": [
        "application\/json"
    ],
    "responses": {
        "200": {
            "description": "Http OK"
        },
        "201": {
            "description": "Created"
        },
        "204": {
            "description": "No Content"
        },
        "400": {
            "description": "Bad Request",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "401": {
            "description": "Unauthorized",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "403": {
            "description": "Forbidden",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "404": {
            "description": "Not Found",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "405": {
            "description": "Method Not Allowed",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "422": {
            "description": "Unprocessable Entity",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "429": {
            "description": "Too Many Requests",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "500": {
            "description": "Internal Server Error",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        },
        "503": {
            "description": "Service Unavailable",
            "schema": {
                "$ref": "#\/definitions\/Error"
            }
        }
    },
    "tags": [
        {
            "name": "BillingAddress",
            "description": "The mailing address associated with the payment method."
        },
        {
            "name": "Brand",
            "description": "Brand is a name to distinguish a group from the other products. An IdeaSoft store owner could specify the distributor preference for all, same branded, products by using 'distributorCode' and 'distributor' parameters. Also customers could be informed about the general properties by using 'showcaseContent'. In the same time Brand helps SEO optimizations via 'metaKeywords' and 'metaDescription' parameters."
        },
        {
            "name": "Cart",
            "description": "Cart is a virtual shopping basket in an IdeaSoft store. It works like a container which contains the cart items until the customer confirm or cancel the order. Also customer determines the chosenPromotion and chosenToken of the Order by using Cart."
        },
        {
            "name": "CartItem",
            "description": "CartItem represents the selected Products for ordering. Also in an IdeaSoft store the customer could control the quantity before confirming the Order."
        },
        {
            "name": "Category",
            "description": "Category represents a grouping of products that a shop owner can create to organize them or make their shops easier to browse."
        },
        {
            "name": "Currency",
            "description": "In an IdeaSoft store current currencies are finds voice under this title. All currencies are predefined. Shop owner could only modify the attributes of these currencies but could not create or delete a currency. Current currencies are: USD, EURO, TL, POUND, JPY, YUAN, GOLD, CHF."
        },
        {
            "name": "CurrentAccount",
            "description": "An IdeaSoft store owner could create a credit account for a selected member by using CurrentAccount. Also shop owner could limit his\/her credit by 'riskLimit' parameter and determine the balance."
        },
        {
            "name": "Distributor",
            "description": "An IdeaSoft store owner has an opportunity to define some extra distributors to specify the selected product's or brand's distributor. Under the distributor title the shop owner could create, delete or modify his\/her distributors."
        },
        {
            "name": "DistributorToProduct",
            "description": "DistributorToProduct determines the relationship between Distributor and Product."
        },
        {
            "name": "ExtraInfo",
            "description": "ExtraInfo is the sugar of a cup of tea. In other words, ExtraInfo is a flexible info\/attribute for each orderItem\/Product but it's independent from the Product's stock amount and price."
        },
        {
            "name": "ExtraInfoToProduct",
            "description": "ExtraInfoToProduct determines the relationship between ExtraInfo and Product. Also the shop owner determines the value of the extra info by using 'value' parameter. To give an example or illustration, if the Product is a cup of tea and the ExtraInfo is sugar, then the 'value' parameter of the ExtraInfoToProduct could be the amount of sugar."
        },
        {
            "name": "FavouritedProduct",
            "description": "FavouritedProduct helps the customer to find or follow a selected Product."
        },
        {
            "name": "InstallmentRate",
            "description": "An IdeaSoft store owner could determine the delay interest value for each paymentGateway's each installment option under this title."
        },
        {
            "name": "Location",
            "description": "Location's are predefined information of some cities. An IdeaSoft store owner could not create or modify a location by using IdeaSoft API."
        },
        {
            "name": "Maillist",
            "description": "Maillist saves the subscribed member's or quest's e-mailing addresses."
        },
        {
            "name": "MaillistGroup",
            "description": "MaillistGroup is a grouping tool for the subscribed e-mail addresses. Via that groups the shop owner can inform all customers, members, quests, etc. in a systematic way."
        },
        {
            "name": "Member",
            "description": "Member is the signed in customer. That signing operation has some advantages for both customer and shop owner. Customer could store his\/her information on IdeaSoft store's database to make his trading, searching, etc. operations easier. Also he\/she can gain some opportunities like shopToken or special discounts via this signing operation. On the other hand, the shop owner could build more healthy statistics or define some special offers for selected Members via this tool."
        },
        {
            "name": "MemberGroup",
            "description": "An IdeaSoft store owner could some offers for the memberGroups, like applying different pricing or allowing different paymentGateways."
        },
        {
            "name": "OptionGroup",
            "description": "OptionGroup is the title of a group of variants like 'colour'. The shop owner could group all colour selections under that title like 'red', 'blue', 'yellow', etc."
        },
        {
            "name": "OptionToProduct",
            "description": "OptionToProduct is a connection tool between Options\/variants and Products. IdeaSoft API builds that connection by this(OptionToProduct) external tool to create a flexibility for the shop owner. Via this tool he\/she could use the same Options for completely different Products. For example, he\/she could connect the 'red' option with 'car' and 't-shirt' in the same time."
        },
        {
            "name": "Options",
            "description": "Option\/variant could be 'red' if the Product is 'car' and OptionGroup is 'colour'. All options has their own stock amount and cost. (Default values are same as the main product, for our example main product is 'car') A product could have more than one option group and an option group could have more than one option."
        },
        {
            "name": "Order",
            "description": "In a IdeaSoft store, from the orderItem to customer all information of an Order gather under this tool title. 'Order' includes every information which are necessary for an order, like 'OrderItem', 'OrderDetail', 'Member', 'shippingAddress', 'billingAddress' and so on. This containing\/combining property of Order tool lighten up the website, customer and shop owner. Because it makes the database entities reusable. This opportunity optimizes the database, makes easier the trading operations, with same information, for customer and also being helpful to make statistics for the shop owner."
        },
        {
            "name": "OrderDetail",
            "description": "OrderDetail is a transition table between detailed order information and the database of IdeaSoft store. Via this process avoids the information lost."
        },
        {
            "name": "OrderItem",
            "description": "OrderItem collects the necessary information of the ordered product and passes it to the Order by using Order's Id value."
        },
        {
            "name": "OrderRefundRequest",
            "description": "OrderRefundRequest keeps the general information of a refund request. Pulls the detailed information\/data of the refund requested Member and Order from their prebuilt entities via their id value."
        },
        {
            "name": "OrderRefundRequestItem",
            "description": "OrderRefundRequestItem keeps specific information, like amount and reason, and pulls the detailed ordered item's information by using id value of orderItem. Also it pushes all of these information to the orderRefundRequest via it's id value."
        },
        {
            "name": "OrderUserNote",
            "description": "An IdeaSoft store customer could create some notes about his\/her order to inform the shop owner for the extra situations about the Order, via OrderUserNote tool. This tool keeps the note string by name of the user and it binds the associated order with this provided information."
        },
        {
            "name": "Payment",
            "description": "All information about a Payment gather under this tool title. The shop owner can reach and manage this information via Payment tool of IdeaSoft API."
        },
        {
            "name": "PaymentGateway",
            "description": "IdeaSoft API has twenty given PaymentGateway. The shop owner has no authority on adding a new PaymentGateway but one of the given gateways, is editable on admin panel. From API there is no PUT or POST action. Also this tool pulls the provider data from PaymentProvider Id value."
        },
        {
            "name": "PaymentProvider",
            "description": "IdeaSoft API has twenty given PaymentProvider. The shop owner has no authority on adding a new PaymentProvider but one of the given providers, is editable on admin panel. From API there is no PUT or POST action."
        },
        {
            "name": "PreOrderInfo",
            "description": "PreOrderInfo is an intermediary data table which saves the original Order information to avoid data loss on the ordering process."
        },
        {
            "name": "Product",
            "description": "A product is an individual item for sale in an IdeaSoft store. Products are often physical, but they don't have to be. For example, a digital download (such as a movie, music or e-book file) also qualifies as a product, as do services (such as equipment rental, work for hire, customization of another product or an extended warranty). Simply put: if it's something for sale in a store, then it's a product. An IdeaSoft store owner could increase his\/her product's sales appeal by using the Product tool's parameters like 'gift' or 'discount'."
        },
        {
            "name": "ProductButton",
            "description": "ProductButton is the speciality favor of the Product which appears under the basic information of the Product. A Product could have two ProductButton\/favor at most. ProductButtons are not editable, the shop owner could only change their status (enable or disable)."
        },
        {
            "name": "ProductDetail",
            "description": "An IdeaSoft store owner could add some details (as a text) via ProductDetail tool."
        },
        {
            "name": "ProductImage",
            "description": "An IdeaSoft store owner could add some images for his\/her Product to increase it's sales appeal. A product could have eight images at most."
        },
        {
            "name": "ProductPrice",
            "description": "An IdeaSoft store owner could add five different price value for the same Product. That ability, makes possible to present different offers to different member groups."
        },
        {
            "name": "ProductProtection",
            "description": "An IdeaSoft store owner could lock the price value and\/or stock amount of a Product via ProductProtection tool."
        },
        {
            "name": "ProductSpecialInfo",
            "description": "An IdeaSoft store owner could add some extra details (as a text) via ProductDetail tool."
        },
        {
            "name": "ProductToCategory",
            "description": "ProductToCategory is a binding tool which binds the selected Product with the selected Category on the database. ProductToCategory tool uses the Id values for binding so both the associated product and category must be predefined to create this relationship. The relationship between Product and Category is 'many to many'. (A product could have more than one category also a category could have more than one product.)"
        },
        {
            "name": "ProductToCountDown",
            "description": "An IdeaSoft store owner could create a count down for a product via ProductToCountDown tool. It's both useful for expiring a product and expiring a discount."
        },
        {
            "name": "ProductToTag",
            "description": "ProductToTag is a binding tool which binds the selected Product with the selected Tag on the database. ProductToTag tool uses the Id values for binding so both the associated product and tag must be predefined to create this relationship. The relationship between Product and Tag is 'many to many'. (A product could have more than one tag also a tag could have more than one product.)"
        },
        {
            "name": "QuickCart",
            "description": "An IdeaShop store customer could save his\/her Cart as a URL via QuickCart tool. The customer could select to create a long\/full URL or a short URL."
        },
        {
            "name": "Region",
            "description": "Region is a predefined\/given data which includes seven regions in Turkey and as an extra, K\u0131br\u0131s included."
        },
        {
            "name": "Selection",
            "description": "Selection presents the selectable details for the product. The Selection values are multiple choice as distinct from ExtraInfo."
        },
        {
            "name": "SelectionGroup",
            "description": "SelectionGroup is title of the associated Selection."
        },
        {
            "name": "SelectionToProduct",
            "description": "SelectionToProduct is a binding tool which binds the selected Product with the selected Selection on the database. SelectionToProduct tool uses the Id values for binding so both the associated product and selection must be predefined to create this relationship. The relationship between Product and Selection is 'many to many'. (A product could have more than one selection also a selection could have more than one product.)"
        },
        {
            "name": "Shipment",
            "description": "Technical basic information of an Order's shipment such as 'cargoOffice', 'invoiceKey', 'wayBillNo', etc. gather under this title. Also this tool pulls the Order data from the selected Order."
        },
        {
            "name": "ShipmentItem",
            "description": "Technical basic information of an ShipmentItem such as tax value, price, amount, etc. gather under this title. Also this tool pulls the OrderItem, Product and Shipment data from the selected entities."
        },
        {
            "name": "ShippingAddress",
            "description": "The shipping address information presents under ShippingAddress title."
        },
        {
            "name": "ShippingCompany",
            "description": "An IdeaSoft store owner could create his\/her own ShippingCompany selection or he\/she could use one of the default ShippingCompany. Also the shop owner could define some special offers like 'freeShippingOrderPrice' for each shipping company."
        },
        {
            "name": "ShippingProvider",
            "description": "ShippingProviders are predefined\/given in IdeaSoft API. The shop owner cannot create or modify any ShippingProvider. But the owner could create or modify a ShippingCompany and bind it with a predefined ShippingProvider."
        },
        {
            "name": "ShippingRate",
            "description": "ShippingRate is the extra cost of an order for the given shipping situations. (volumetricWeight, region and shipping company) An IdeaSoft store owner could define different shipping rates for each region and each shipping company. For example: for X shipping company, the shipping rate can be 1.2 for the A region and at the same time for X shipping company, the shipping rate can be 1.4 for the B region. "
        },
        {
            "name": "ShopPreference",
            "description": "Preference is the general settings of the IdeaShop store such as 'company_name', 'company_phonenumber', 'company_email', etc. Also Preference includes the general running rules of the store such as 'site_status' (enable or disable), 'showcase_type', 'member_signup' (enable or disable), 'default_tax_rate', etc. These settings are not editable from API. The shop owner could modify\/edit these settings on admin panel."
        },
        {
            "name": "SpecGroup",
            "description": "SpecGroup is a grouping tool for SpecNames. It helps the shop owner to organize the specs."
        },
        {
            "name": "SpecName",
            "description": "SpecName is the special characteristic's name of the Product. It is shown under the 'Product Features' title in the Product page. All SpecNames needs a SpecGroup and at least a SpecValue."
        },
        {
            "name": "SpecToProduct",
            "description": "SpecToProduct is a binding tool which binds the selected Spec (SpecGroup, SpecName, SpecValue) with the selected Product on the database. SpecToProduct tool uses the Id values for binding so both the associated entities must be predefined to create this relationship. The relationship between Product and Spec is 'many to many'. (A product could have more than one spec also a spec could have more than one product.)"
        },
        {
            "name": "SpecValue",
            "description": "SpecValue is the special characteristic's value of the Product. It is shown under the 'Product Features' title in the Product page. All SpecValues needs a SpecName."
        },
        {
            "name": "Tag",
            "description": "Tag is a tool which helps user to find a specific product. The shop owner could create, modify, receive or delete the Tags via this tool and bind them with the Products via ProductToTag tool. If a user\/customer search something on the store page and a Product has binded with a related Tag, then this Product will appear at the top of the search results."
        },
        {
            "name": "Town",
            "description": "All saved Towns on the IdeaSoft store database have been presented under this title. There are several default Towns on database but the shop owner could modify, create and delete each Town."
        },
        {
            "name": "TownGroup",
            "description": "TownGroup is a grouping tool which helps to organize the Town entities."
        },
        {
            "name": "User",
            "description": "User is the admin of the IdeaShop Store. The shop owner could not modify, create or delete any User from IdeaSoft API but he\/she can modify, create or delete each User on admin panel."
        }
    ],
    "paths": {
        "\/spec_values": {
            "get": {
                "summary": "SpecValue cgetAction",
                "description": "Receive a list of all SpecValues.",
                "tags": [
                    "SpecValue"
                ],
                "responses": {
                    "200": {
                        "description": "SpecValue successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Example sort=id",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "default": 20,
                        "description": "Number of requested SpecValues per page",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "default": 1,
                        "description": "Which page to start from",
                        "type": "integer",
                        "minimum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Spec Value Name.",
                        "allowEmptyValue": false,
                        "maxLength": 255,
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "specName",
                        "description": "Spec Name Id",
                        "type": "integer",
                        "minimum": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "specValue",
                        "description": "Spec Value Id",
                        "type": "integer",
                        "minimum": 0,
                        "required": false
                    }
                ]
            },
            "post": {
                "summary": "SpecValue postAction",
                "description": "Creates a new SpecValue. Some valid information of a predefined specGroup and a specName, required for SpecValue postAction.",
                "tags": [
                    "SpecValue"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "SpecValue",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        },
                        "description": "SpecValue object"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "SpecValue successfully created.",
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/spec_values\/{id}": {
            "put": {
                "summary": "SpecValue putAction",
                "description": "Update the selected SpecValue.",
                "tags": [
                    "SpecValue"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of SpecValue"
                    },
                    {
                        "in": "body",
                        "name": "SpecValue",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        },
                        "description": "SpecValue object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SpecValue successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "SpecValue getAction",
                "description": "Receive the selected SpecValue.",
                "tags": [
                    "SpecValue"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of SpecValue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "SpecValue successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/SpecValue"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "SpecValue deleteAction",
                "description": "Permanently delete the selected SpecValue.",
                "tags": [
                    "SpecValue"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of SpecValue"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "SpecValue successfully deleted."
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/orders": {
            "get": {
                "summary": "Order cgetAction",
                "description": "Receive a list of all Orders.",
                "tags": [
                    "Order"
                ],
                "responses": {
                    "200": {
                        "description": "Order successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Example sort=id",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "default": 20,
                        "description": "Number of requested per page",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "default": 1,
                        "description": "Which page to start from",
                        "type": "integer",
                        "minimum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "transactionId",
                        "description": "Transaction id.",
                        "minLength": 1,
                        "maxLength": 255,
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "customerEmail",
                        "description": "Customer email.",
                        "pattern": "\/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$\/",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "member",
                        "description": "Member id",
                        "type": "integer",
                        "minimum": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Status can be waiting_for_approval, approved, fulfilled, cancelled, delivered, on_accumulation, waiting_for_payment, being_prepared, refunded, personal_status_1, personal_status_2, personal_status_3 or deleted",
                        "enum": [
                            "waiting_for_approval",
                            "approved",
                            "fulfilled",
                            "cancelled",
                            "delivered",
                            "on_accumulation",
                            "waiting_for_payment",
                            "being_prepared",
                            "refunded",
                            "personal_status_1",
                            "personal_status_2",
                            "personal_status_3",
                            "deleted"
                        ],
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "paymentStatus",
                        "description": "Payment status can be success, in_transaction or failed",
                        "enum": [
                            "success",
                            "in_transaction",
                            "failed"
                        ],
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "paymentTypeName",
                        "description": "Payment type name can be Havale, \u00d6zel \u00d6deme Sistemi, Kredi Kart\u0131, Paypal, GarantiPay, Mail Order, BKM Express, Kap\u0131da \u00d6deme Nakit or Kap\u0131da \u00d6deme Kredi Kart\u0131",
                        "enum": [
                            "Havale",
                            "\u00d6zel \u00d6deme Sistemi",
                            "Kredi Kart\u0131",
                            "Paypal",
                            "GarantiPay",
                            "Mail Order",
                            "BKM Express",
                            "Kap\u0131da \u00d6deme Nakit",
                            "Kap\u0131da \u00d6deme Kredi Kart\u0131"
                        ],
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "shippingProviderCode",
                        "description": "Shipping provider code can be yurtici, yurtici_sel_service, yurtici_api, ptt, mng, surat, ups, aras or other",
                        "enum": [
                            "yurtici",
                            "yurtici_self_service",
                            "yurtici_api",
                            "ptt",
                            "mng",
                            "surat",
                            "ups",
                            "aras",
                            "other"
                        ],
                        "type": "string",
                        "required": false
                    }
                ]
            },
            "post": {
                "summary": "Order postAction",
                "description": "Creates a new Order. Some valid information of a predefined paymentProvider, a paymentGateway, a shippingProvider, a shippingCompany, a Member, a shippingAddress, a billingAddress, an orderItems, required for Order postAction. Also if a Maillist and\/or OrderDetails exists, these entities must be predefined.",
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "Orders",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        },
                        "description": "Orders object"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Order successfully created.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/orders\/{id}": {
            "put": {
                "summary": "Order putAction",
                "description": "Update the selected Order.",
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of Order"
                    },
                    {
                        "in": "body",
                        "name": "Orders",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        },
                        "description": "Orders object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Order getAction",
                "description": "Receive the selected Order.",
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of Order"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Order successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Order deleteAction",
                "description": "Permanently delete the selected Order.",
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of Order"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Order successfully deleted."
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/orders\/combined": {
            "get": {
                "summary": "Order combinedAction",
                "description": "Receives the today, monthly, yearly and total order additions in terms of totalAmount, totalCount and currency.",
                "tags": [
                    "Order"
                ],
                "responses": {
                    "200": {
                        "description": "Order successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Status can be waiting_for_approval, approved, fulfilled, cancelled, delivered, on_accumulation, waiting_for_payment, being_prepared, refunded, personal_status_1, personal_status_2 or personal_status_3",
                        "enum": [
                            "waiting_for_approval",
                            "approved",
                            "fulfilled",
                            "cancelled",
                            "delivered",
                            "on_accumulation",
                            "waiting_for_payment",
                            "being_prepared",
                            "refunded",
                            "personal_status_1",
                            "personal_status_2",
                            "personal_status_3"
                        ],
                        "type": "string",
                        "required": false
                    }
                ]
            }
        },
        "\/orders\/charts": {
            "get": {
                "summary": "Order chartsAction",
                "description": "Receives the general statistics of Orders in terms of time.",
                "tags": [
                    "Order"
                ],
                "responses": {
                    "200": {
                        "description": "Order successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "timeFrame",
                        "description": "Can be these values: full, year, month or week",
                        "pattern": "^full$|^year$|^month$|^week$",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "startDate",
                        "description": "Start of the time frame",
                        "pattern": "\\d{4}-[0-1]\\d-[0-2]\\d",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "\/orders\/cart\/{cartId}": {
            "post": {
                "summary": "Order preOrderAction",
                "description": "Creates a new preOrder for the selected Order. Some valid information of a predefined paymentProvider, a paymentGateway, a shippingProvider, a shippingCompany, a Member, a shippingAddress, a billingAddress, an orderItems, required for Order postAction. Also if a Maillist and\/or OrderDetails exists, these entities must be predefined. This method works like a backup system to save the data between the first step and the last step of the Order process.",
                "tags": [
                    "Order"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "cartId",
                        "type": "integer",
                        "required": true,
                        "description": "CartId value of Order"
                    },
                    {
                        "in": "body",
                        "name": "Orders",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        },
                        "description": "Orders object"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Order successfully created.",
                        "schema": {
                            "$ref": "#\/definitions\/Order"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/product_buttons": {
            "get": {
                "summary": "ProductButton cgetAction",
                "description": "Receive a list of all ProductButtons.",
                "tags": [
                    "ProductButton"
                ],
                "responses": {
                    "200": {
                        "description": "ProductButton successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Example sort=id",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "default": 20,
                        "description": "Number of requested per page",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "default": 1,
                        "description": "Which page to start from",
                        "type": "integer",
                        "minimum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "fastShipping",
                        "description": "Which products has fastShipping",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "sameDayShipping",
                        "description": "Which products has sameDayShipping",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "threeDaysDelivery",
                        "description": "Which products has threeDaysDelivery",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "fiveDaysDelivery",
                        "description": "Which products has fiveDaysDelivery",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "sevenDaysDelivery",
                        "description": "Which products has sevenDaysDelivery",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "freeShipping",
                        "description": "Which products has freeShipping",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "deliveryFromStock",
                        "description": "Which products has deliveryFromStock",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "preOrderedProduct",
                        "description": "Which products has preOrderedProduct",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "askStock",
                        "description": "Which products has askStock",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "campaignedProduct",
                        "description": "Which products has campaignedProduct",
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "product",
                        "description": "Product Id",
                        "type": "integer",
                        "minimum": 0,
                        "required": false
                    }
                ]
            },
            "post": {
                "summary": "ProductButton postAction",
                "description": "Creates a new ProductButton. A valid Id of a predefined Product, required for ProductButton postAction.",
                "tags": [
                    "ProductButton"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "ProductButton",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        },
                        "description": "ProductButton object"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "ProductButton successfully created.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/product_buttons\/{id}": {
            "put": {
                "summary": "ProductButton putAction",
                "description": "Update the selected ProductButton.",
                "tags": [
                    "ProductButton"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of ProductButton"
                    },
                    {
                        "in": "body",
                        "name": "ProductButton",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        },
                        "description": "ProductButton object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ProductButton successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "ProductButton getAction",
                "description": "Receive the selected ProductButton.",
                "tags": [
                    "ProductButton"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of ProductButton"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ProductButton successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductButton"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "ProductButton deleteAction",
                "description": "Permanently delete the selected ProductButton.",
                "tags": [
                    "ProductButton"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of ProductButton"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "ProductButton successfully deleted."
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/product_prices": {
            "get": {
                "summary": "ProductPrice cgetAction",
                "description": "Receive a list of all ProductPrices.",
                "tags": [
                    "ProductPrice"
                ],
                "responses": {
                    "200": {
                        "description": "ProductPrice successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductPrice"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                },
                "parameters": [
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Example sort=id",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "default": 20,
                        "description": "Number of requested per page",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "default": 1,
                        "description": "Which page to start from",
                        "type": "integer",
                        "minimum": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Product PriceType",
                        "allowEmptyValue": false,
                        "type": "integer",
                        "minimum": 2,
                        "maximum": 5,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "product",
                        "description": "Product Id",
                        "type": "integer",
                        "minimum": 0,
                        "required": false
                    }
                ]
            },
            "post": {
                "summary": "ProductPrice postAction",
                "description": "Creates a new ProductPrice. Some valid information of a predefined Product, required for ProductPrice postAction.",
                "tags": [
                    "ProductPrice"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "ProductPrice",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/ProductPrice"
                        },
                        "description": "ProductPrice object"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "ProductPrice successfully created.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductPrice"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    }
                }
            }
        },
        "\/product_prices\/{id}": {
            "put": {
                "summary": "ProductPrice putAction",
                "description": "Update the selected ProductPrice.",
                "tags": [
                    "ProductPrice"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "type": "integer",
                        "required": true,
                        "description": "Id value of ProductPrice"
                    },
                    {
                        "in": "body",
                        "name": "ProductPrice",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/ProductPrice"
                        },
                        "description": "ProductPrice object"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ProductPrice successfully listed.",
                        "schema": {
                            "$ref": "#\/definitions\/ProductPrice"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#\/definitions\/Error"
                        }
                    },
                    "503": {
[...]
